#movie-container {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    width: 100%;
}

.movie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3%;
    border: 1px solid black;
    border-radius: 100%;
    padding: 6%;
}